body{
    height: 100%;
}
.container{
    margin: 20px auto
}
#buttonArea{
    margin-top: 20px;
}
#gif-view{
    height: 100%;
}
#animalDiv{
    display: inline-block;
    margin-right: 15px;
    text-align: left;
}